@import url("https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap");
html, body {
  max-width: 1440px;
  margin: 0 auto;
  height: 100%;
  font-family: "PT Sans", sans-serif;
  letter-spacing: 0.03rem;
}

body {
  padding: 0 25px;
  margin-top: 35px;
}

.navbar {
  padding-top: 10px;
  display: flex;
  justify-content: space-between;
}
.navbar__logo {
  width: 350px;
  justify-self: flex-start;
}
.navbar__search-label {
  position: relative;
  right: 45px;
  top: 8px;
}
.navbar__search-icon {
  height: 26px;
}
.navbar__middle-wrapper {
  width: 100%;
  margin-left: 30px;
}
.navbar__middle-wrapper #search {
  background-color: #efeff2;
  font-size: 16px;
  border: white;
  outline: none;
  width: 95%;
  height: 58px;
  position: relative;
  border-radius: 10px;
  padding-left: 20px;
  transition: all 0.3s;
}
.navbar__middle-wrapper #search:hover {
  background-color: white;
  border: 1px solid #d7d4d4;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 15px;
}
.navbar__middle-wrapper #search:focus {
  background-color: white;
  border: 1px solid #d7d4d4;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 15px;
}
.navbar__links-wrapper {
  position: relative;
  bottom: 10px;
}
.navbar__link {
  font-size: 16px;
  margin: 0 8px;
  color: #151528;
  text-decoration: none;
}
.navbar__link:hover {
  color: #ff9100;
  transition: all 0.3s;
}
.navbar .icons {
  display: flex;
  margin-right: 80px;
}
.navbar .icons .icon {
  margin: 0 10px;
  position: relative;
  top: 15px;
  text-decoration: none;
  color: #151528;
}
.navbar .icons .icon:hover {
  color: rgb(74, 74, 74);
}
.navbar .icons .icon:active {
  color: #ff9100;
}
.navbar .icons .icon__image {
  height: 50px;
}

main .hero-banner {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
main .hero-banner__image {
  height: auto;
  max-height: 260px;
  max-width: 100%;
  -o-object-fit: fill;
     object-fit: fill;
}
main .category {
  margin-top: 50px;
}
main .category__title {
  font-size: 24px;
  font-weight: 700;
  line-height: 35px;
  font-style: bold;
}
main .category__all-link {
  font-size: 16px;
  color: #0038ff;
  margin-left: 10px;
}
main .category-card-wrapper {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
}
main .category-card-wrapper .category-card {
  margin: 5px;
  padding: 20px;
  border: 1px solid #eeeeee;
  border-radius: 10px;
  text-decoration: none;
  transition: all 0.2s;
}
main .category-card-wrapper .category-card:hover {
  background-color: white;
  border: 1px solid #d7d4d4;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 15px;
}
main .category-card-wrapper .category-card__link {
  text-decoration: none;
}
main .category-card-wrapper .category-card__title {
  font-size: 20px;
  text-align: center;
  color: #151528;
}
main .hits-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  margin-top: 30px;
}
main .hits-wrapper .product-card__wrapper {
  display: flex;
}
main .hits-wrapper .product-card__title {
  font-size: 20px;
  text-align: center;
  margin-bottom: 15px;
}
main .hits-wrapper .product-card__buy-image {
  width: 140px;
}
main .hits-wrapper .product-card__specs {
  margin-bottom: 10px;
}
main .hits-wrapper .product-card__price-old {
  text-decoration: line-through;
  font-size: 16px;
  letter-spacing: 1px;
}
main .hits-wrapper .product-card__price {
  font-size: 22fpx;
  font-weight: 700;
  letter-spacing: 1px;
}/*# sourceMappingURL=style.css.map */