asgiref==3.7.2
Babel==2.12.1
Django==4.2.3
django-cors-headers==4.2.0
django-environ==0.10.0
django-phonenumber-field==7.1.0
djangorestframework==3.14.0
phonenumbers==8.13.16
Pillow==10.0.0
PyJWT==2.7.0
pytz==2023.3
sqlparse==0.4.4
typing-extensions==4.7.1
tzdata==2023.3
psycopg2
celery[redis] 
flower==1.2.0 